.privacy a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: '\f08e';
    font-size: 0.9em;
    margin: 0 3px 0 2px;
}
.contact-container {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
.contact {
    br {
        display: none;
    }
    padding: 50px;
    .contactForm {
        text-align: center;
        .mat-form-field {
            width: 60%;
        }
    }
}
@media screen and (max-width:710px){
    .contact {
        br {
            display: inline;
        }
        .contactForm {
            .mat-form-field {
                width: 100%;
            }
        }
    }
}