.wrapper {
    br {
        display: none;
    }
}
h1 {
    text-align: center;
    color: aliceblue;
}
.explanations {
    width: 60%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    br {
        display: none;
    }
}
.startforms {
    margin: 1.5%;
    text-align: center;
}
.guidimg {
    width: 450px;
    padding-top: 20px;
}
@media screen and (max-width:710px){
    .wrapper {
        height: 100%;
        h1 {
            display: none;
        }
        br {
            display: inline;
        }
    }
    .explanations {
        width: 85%;
        height: 400px;
        br {
            display: inline;
        }
    }
    .guidimg {
        width: 300px;
        padding-top: 20px;
    }
    .startforms {
        margin: 5%;
    }
}