<div class="container">
    <br><br>
    <mat-card class="explanations">
        <mat-tab-group>
            <mat-tab label="このサービスについて">
                <img class="guidimg" src="/assets/images/一覧.png">
                <h3>1/4</h3>
                <p>色々なウェブサイトを保存できるサービスです。</p>
            </mat-tab>
            <mat-tab label="サイトの保存">
                <img class="guidimg" src="/assets/images/新規登録.png">
                <h3>2/4</h3>
                <p>ウェブサイトに自分なりのメモを付けて保存できます。</p>
            </mat-tab>
            <mat-tab label="ジャンルでの絞り込み">
                <img class="guidimg" src="/assets/images/ジャンル検索.png">
                <h3>3/4</h3>
                <p>指定したジャンルで絞り込みを行えます。</p>
            </mat-tab>
            <mat-tab label="タグでの絞り込み">
                <img class="guidimg" src="/assets/images/タグ検索.png">
                <h3>4/4</h3>
                <p>登録したタグをドロップダウンで選択して検索できます。</p>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
    <form class="startforms">
        <button class="startbtn" color="primary" mat-raised-button (click)="guestlogin()">Use for trial</button>
    </form>
</div>